# OS & Editor
.DS_Store
Thumbs.db
*.swp
*.swo
*~
*.bak

# Logs & Temporary Files
*.log
*.tmp
*.png.tmp.png
__pycache__/
*.py[cod]
Cached Theme.pak

# Sensitive & Secrets
*.key
*.pem
*.token
credentials.json
